<!doctype html>
<html>
<head>
		<title>Meadowlark Travel</title>
</head>

<body>
		<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>

		{{{body}}}
		<!-- This expression will be replace with HTML for each view -->
		express3-handlebars is rendering the above body, main.handlebars		

</body>

</html>
